SCENE_ENV=development
SCENE_DATABASE_URL=sqlite:////home/ai3d/data/scene-spatial/scene_spatial.db
SCENE_OUTPUT_ROOT=/home/ai3d/outputs/scene-spatial
SCENE_INPUT_ROOT=/home/ai3d/inputs/scene-spatial
SCENE_LOG_ROOT=/home/ai3d/logs/scene-spatial
SCENE_TMP_ROOT=/home/ai3d/tmp/scene-spatial

SCENE_GPU_PHYSICAL_ID=0

SCENE_SAM_PYTHON=/home/ai3d/envs/scene-sam3/bin/python
SCENE_MOGE_PYTHON=/home/ai3d/envs/scene-moge2/bin/python

SCENE_SAM_WORKER=/home/ai3d/src/scene-spatial-poc/model_workers/sam3_worker.py
SCENE_MOGE_WORKER=/home/ai3d/src/scene-spatial-poc/model_workers/moge2_worker.py

SCENE_WORKER_POLL_SECONDS=2
SCENE_TASK_LEASE_SECONDS=1800
SCENE_FAKE_MODELS=true
